/**
 * Float Layout Activity
 **/
div {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}
li1 {
    margin-left: 25%;
    padding: 14px 16px;
    background-color: #4aaaa5;
    float: Left;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    }
li {
    float: right;
}
img {
    float: left;
    margin-right: 15px;
}
    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: #4aaaa5;
        }


body {
    background-color: lightgray;
    font-size: 24px;
    line-height: 32px;
    color: #333;
}
body {
    background-image: url("/assets/images/congruent_outline.png")
}

aside {
    margin: 40px;
    width: 960px;
    height: 500px;
    padding: 20px;
    margin-left: 25%;
    background: #fff;
    border: 1px solid #eee;
    margin-bottom: 100px;
}

footer {
    bottom: auto;
    text-align: center;
    background: #666666;
    font-size: small;
    color: lightgray;
}
